<a href="https://colab.research.google.com/github/Unfeir/DS/blob/main/Hw2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Прочитайте файл 2017_jun_final.csv за допомогою методу read_csv

In [2]:
import pandas as pd
pd.set_option('display.max_columns', 50)
pd.set_option('display.width', 1000)

df = pd.read_csv("/content/drive/MyDrive/Data sets/2017_jun_final.csv")

# print(users.head())


Прочитайте отриману таблицю, використовуючи метод head

In [ ]:

print(df.head())

   N                 Должность Язык.программирования Специализация Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  Изменение.зарплаты.за.12.месяцев    Город     Размер.компании    Тип.компании      Пол  Возраст           Образование Университет  Еще.студент Уровень.английского                    Предметная.область      Дата.заполнения                                         User.Agent   exp  current_job_exp  salary Валюта  cls
0  1        Junior QA engineer                   NaN     Manual QA               0.5                          0.5               400                                 0  Харьков       до 10 человек  Аутсорсинговая  женский       20  Незаконченное высшее        ХНЭУ         True       ниже среднего                         iOS,eCommerce  12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5              0.5     400    NaN   QA
1  2        Junior QA engineer                   NaN     Manual QA  меньше 3 месяцев             меньше 3 месяцев               430                               130  Харьков  свыше 1000 человек  Аутсорсинговая  женский       21  Незаконченное высшее        ХНЭУ         True       выше среднего                        Веб-разработка  12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...   0.0              0.0     430    NaN   QA
2  3         Software Engineer               C#/.NET           NaN                 4                            1              2500                               800     Киев     до 1000 человек  Аутсорсинговая  мужской       26                Высшее      ДонНТУ        False             средний  Веб-разработка,Корпоративные системы  12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0              1.0    2500    NaN  DEV
3  4         Software Engineer            JavaScript           NaN                 5                            4              2000                               400   Одесса      до 200 человек     Продуктовая  мужской       30               Среднее         NaN        False       ниже среднего   Desktop Applications,Веб-разработка  12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0              4.0    2000    NaN  DEV
4  5  Senior Software Engineer            JavaScript           NaN    10 и более лет                          0.5              4500                               500   Другой       до 10 человек     Продуктовая  мужской       30    Техникум / Колледж         NaN        False             средний   Desktop Applications,Веб-разработка  12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0              0.5    4500    NaN  DEV

 Визначте розмір таблиці за допомогою методу shape

In [ ]:
print(df.shape)

(8704, 25)

 Визначте типи всіх стовпців за допомогою dataframe.dtypes

In [3]:
print(df.dtypes)

N                                     int64
Должность                            object
Язык.программирования                object
Специализация                        object
Общий.опыт.работы                    object
Опыт.работы.на.текущем.месте         object
Зарплата.в.месяц                      int64
Изменение.зарплаты.за.12.месяцев      int64
Город                                object
Размер.компании                      object
Тип.компании                         object
Пол                                  object
Возраст                               int64
Образование                          object
Университет                          object
Еще.студент                            bool
Уровень.английского                  object
Предметная.область                   object
Дата.заполнения                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

Порахуйте, яка частка пропусків міститься в кожній колонці (використовуйте методи isnull та sum)

In [5]:
print(df.isnull().sum()/df.shape[0])

N                                   0.000000
Должность                           0.000000
Язык.программирования               0.442325
Специализация                       0.829389
Общий.опыт.работы                   0.000000
Опыт.работы.на.текущем.месте        0.000000
Зарплата.в.месяц                    0.000000
Изменение.зарплаты.за.12.месяцев    0.000000
Город                               0.000000
Размер.компании                     0.000000
Тип.компании                        0.000000
Пол                                 0.000000
Возраст                             0.000000
Образование                         0.000000
Университет                         0.041131
Еще.студент                         0.000000
Уровень.английского                 0.000000
Предметная.область                  0.025620
Дата.заполнения                     0.000000
User.Agent                          0.000000
exp                                 0.000000
current_job_exp                     0.000000
salary                              0.000000
Валюта                              0.998851
cls                                 0.180836
dtype: float64

 Видаліть усі стовпці з пропусками, крім стовпця "Мова програмування"

In [17]:
columns_to_keep = df.dropna(axis=1, how='any').columns.tolist()
columns_to_keep.insert(1, 'Язык.программирования')
cleaned_df = df[columns_to_keep]

print(cleaned_df)

         N Язык.программирования                 Должность Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  Изменение.зарплаты.за.12.месяцев    Город     Размер.компании     Тип.компании      Пол  Возраст           Образование  Еще.студент Уровень.английского      Дата.заполнения                                         User.Agent   exp  current_job_exp  salary
0        1                   NaN        Junior QA engineer               0.5                          0.5               400                                 0  Харьков       до 10 человек   Аутсорсинговая  женский       20  Незаконченное высшее         True       ниже среднего  12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5              0.5     400
1        2                   NaN        Junior QA engineer  меньше 3 месяцев             меньше 3 месяцев               430                               130  Харьков  свыше 1000 человек   Аутсорсинговая  женский       21  Незаконченное высшее         True       выше среднего  12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...   0.0              0.0     430
2        3               C#/.NET         Software Engineer                 4                            1              2500                               800     Киев     до 1000 человек   Аутсорсинговая  мужской       26                Высшее        False             средний  12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0              1.0    2500
3        4            JavaScript         Software Engineer                 5                            4              2000                               400   Одесса      до 200 человек      Продуктовая  мужской       30               Среднее        False       ниже среднего  12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0              4.0    2000
4        5            JavaScript  Senior Software Engineer    10 и более лет                          0.5              4500                               500   Другой       до 10 человек      Продуктовая  мужской       30    Техникум / Колледж        False             средний  12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0              0.5    4500
...    ...                   ...                       ...               ...                          ...               ...                               ...      ...                 ...              ...      ...      ...                   ...          ...                 ...                  ...                                                ...   ...              ...     ...
8699  8700                   NaN               QA engineer                 1             меньше 3 месяцев               700                               700   Одесса       до 50 человек   Аутсорсинговая  мужской       23                Высшее        False             средний  12/07/2017 15:45:24  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   1.0              0.0     700
8700  8701                   NaN                 Marketing               0.5                          0.5               400                               120     Киев       до 50 человек      Продуктовая  женский       22                Высшее        False       ниже среднего  12/07/2017 17:00:06  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5              0.5     400
8701  8702            Ruby/Rails  Junior Software Engineer                 1                          0.5               800                               500    Львов       до 10 человек  Аутстаффинговая  мужской       30  Незаконченное высшее        False       выше среднего  12/07/2017 17:32:26  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0              0.5     800
8702  8703                   NaN                 Team lead                 6                            4              2600                                 0    Днепр  свыше 1000 человек   Аутсорсинговая  мужской       34                Высшее        False         продвинутый  12/07/2017 18:14:59  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...   6.0              4.0    2600
8703  8704                  Java  Senior Software Engineer                 7                            2              5000                               800   Одесса     до 1000 человек      Продуктовая  мужской       28                Высшее        False       выше среднего  12/07/2017 21:28:57  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...   7.0              2.0    5000

[8704 rows x 20 columns]

 Знову порахуйте, яка частка пропусків міститься в кожній колонці і переконайтеся, що залишився тільки стовпець "Мова.програмування"

In [19]:
print(cleaned_df.isnull().sum()/df.shape[0])

N                                   0.000000
Язык.программирования               0.442325
Должность                           0.000000
Общий.опыт.работы                   0.000000
Опыт.работы.на.текущем.месте        0.000000
Зарплата.в.месяц                    0.000000
Изменение.зарплаты.за.12.месяцев    0.000000
Город                               0.000000
Размер.компании                     0.000000
Тип.компании                        0.000000
Пол                                 0.000000
Возраст                             0.000000
Образование                         0.000000
Еще.студент                         0.000000
Уровень.английского                 0.000000
Дата.заполнения                     0.000000
User.Agent                          0.000000
exp                                 0.000000
current_job_exp                     0.000000
salary                              0.000000
dtype: float64

 Видаліть усі рядки у вихідній таблиці за допомогою методу dropna

In [23]:
cleaned_df.dropna(axis=0)
print(cleaned_df)

         N Язык.программирования                 Должность Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  Изменение.зарплаты.за.12.месяцев    Город     Размер.компании     Тип.компании      Пол  Возраст           Образование  Еще.студент Уровень.английского      Дата.заполнения                                         User.Agent   exp  current_job_exp  salary
0        1                   NaN        Junior QA engineer               0.5                          0.5               400                                 0  Харьков       до 10 человек   Аутсорсинговая  женский       20  Незаконченное высшее         True       ниже среднего  12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5              0.5     400
1        2                   NaN        Junior QA engineer  меньше 3 месяцев             меньше 3 месяцев               430                               130  Харьков  свыше 1000 человек   Аутсорсинговая  женский       21  Незаконченное высшее         True       выше среднего  12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...   0.0              0.0     430
2        3               C#/.NET         Software Engineer                 4                            1              2500                               800     Киев     до 1000 человек   Аутсорсинговая  мужской       26                Высшее        False             средний  12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0              1.0    2500
3        4            JavaScript         Software Engineer                 5                            4              2000                               400   Одесса      до 200 человек      Продуктовая  мужской       30               Среднее        False       ниже среднего  12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0              4.0    2000
4        5            JavaScript  Senior Software Engineer    10 и более лет                          0.5              4500                               500   Другой       до 10 человек      Продуктовая  мужской       30    Техникум / Колледж        False             средний  12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0              0.5    4500
...    ...                   ...                       ...               ...                          ...               ...                               ...      ...                 ...              ...      ...      ...                   ...          ...                 ...                  ...                                                ...   ...              ...     ...
8699  8700                   NaN               QA engineer                 1             меньше 3 месяцев               700                               700   Одесса       до 50 человек   Аутсорсинговая  мужской       23                Высшее        False             средний  12/07/2017 15:45:24  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   1.0              0.0     700
8700  8701                   NaN                 Marketing               0.5                          0.5               400                               120     Киев       до 50 человек      Продуктовая  женский       22                Высшее        False       ниже среднего  12/07/2017 17:00:06  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5              0.5     400
8701  8702            Ruby/Rails  Junior Software Engineer                 1                          0.5               800                               500    Львов       до 10 человек  Аутстаффинговая  мужской       30  Незаконченное высшее        False       выше среднего  12/07/2017 17:32:26  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0              0.5     800
8702  8703                   NaN                 Team lead                 6                            4              2600                                 0    Днепр  свыше 1000 человек   Аутсорсинговая  мужской       34                Высшее        False         продвинутый  12/07/2017 18:14:59  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...   6.0              4.0    2600
8703  8704                  Java  Senior Software Engineer                 7                            2              5000                               800   Одесса     до 1000 человек      Продуктовая  мужской       28                Высшее        False       выше среднего  12/07/2017 21:28:57  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...   7.0              2.0    5000

[8704 rows x 20 columns]

 Визначте новий розмір таблиці за допомогою методу shape

In [22]:
cleaned_df.shape

(8704, 20)

 Створіть нову таблицю python_data, в якій будуть тільки рядки зі спеціалістами, які вказали мову програмування Python

In [24]:
python_data = cleaned_df[cleaned_df['Язык.программирования']== 'Python']
print(python_data)

         N Язык.программирования                 Должность Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  Изменение.зарплаты.за.12.месяцев      Город     Размер.компании    Тип.компании      Пол  Возраст           Образование  Еще.студент Уровень.английского      Дата.заполнения                                         User.Agent   exp  current_job_exp  salary
12      13                Python         Software Engineer                 1             меньше 3 месяцев               800                               200       Киев       до 50 человек  Аутсорсинговая  мужской       26                Высшее        False       ниже среднего  12/06/2017 13:05:54  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   1.0              0.0     800
68      69                Python         Software Engineer               1.5                          0.5               900                               900       Киев       до 10 человек         Стартап  мужской       21  Незаконченное высшее         True       выше среднего  12/06/2017 13:11:17  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   1.5              0.5     900
87      88                Python  Junior Software Engineer               0.5                          0.5               600                                 0       Киев       до 10 человек  Аутсорсинговая  мужской       19  Незаконченное высшее         True       выше среднего  12/06/2017 13:12:25  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   0.5              0.5     600
114    115                Python  Junior Software Engineer               1.5                          0.5               685                               250       Киев     до 1000 человек  Аутсорсинговая  мужской       21  Незаконченное высшее        False             средний  12/06/2017 13:14:52  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.5              0.5     685
143    144                Python  Junior Software Engineer                 1                            1               750                               250       Киев       до 10 человек  Аутсорсинговая  мужской       21  Незаконченное высшее         True       выше среднего  12/06/2017 13:19:10  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0              1.0     750
...    ...                   ...                       ...               ...                          ...               ...                               ...        ...                 ...             ...      ...      ...                   ...          ...                 ...                  ...                                                ...   ...              ...     ...
8546  8547                Python         Software Engineer                 5                            1              2000                               800  Запорожье       до 50 человек  Аутсорсинговая  мужской       22  Незаконченное высшее        False             средний  10/07/2017 14:11:26  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...   5.0              1.0    2000
8625  8626                Python         Software Engineer                 4                            1              1750                                 0       Киев  свыше 1000 человек  Аутсорсинговая  мужской       28               Среднее        False             средний  11/07/2017 16:15:40  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   4.0              1.0    1750
8635  8636                Python  Senior Software Engineer    10 и более лет             меньше 3 месяцев              4000                              1300   Удаленно       до 10 человек         Стартап  мужской       33                Высшее        False       выше среднего  11/07/2017 17:51:36  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...  10.0              0.0    4000
8673  8674                Python  Junior Software Engineer               0.5                          0.5               350                                50       Киев       до 50 человек  Аутсорсинговая  мужской       22                Высшее        False             средний  12/07/2017 09:37:16  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   0.5              0.5     350
8695  8696                Python         Software Engineer                 1                          0.5              1500                              1000       Киев       до 10 человек         Стартап  мужской       29                Высшее        False             средний  12/07/2017 14:39:21  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0              0.5    1500

[207 rows x 20 columns]

 Визначте розмір таблиці python_data за допомогою методу shape

In [25]:
print(python_data.shape)

(207, 20)

 Використовуючи метод groupby, виконайте групування за стовпчиком "Посада"

In [26]:
grouped = python_data.groupby('Должность')
# for i in grouped:
#   print(i)

 Створіть новий DataFrame, де для згрупованих даних за стовпчиком "Посада", виконайте агрегацію даних за допомогою методу agg і знайдіть мінімальне та максимальне значення у стовпчику "Зарплата.в.місяць"

In [37]:
agg_data = grouped.agg({'salary': ['min', 'max']})
print(agg_data)
print(type(agg_data))
print(agg_data.shape)

                         salary
                            min   max
Должность
Junior Software Engineer    100  1250
Senior Software Engineer   1300  9200
Software Engineer           500  5400
System Architect           3000  5000
Technical Lead             1425  6200
<class 'pandas.core.frame.DataFrame'>
(5, 2)

 Створіть функцію fill_avg_salary, яка повертатиме середнє значення заробітної плати на місяць. Використовуйте її для методу apply та створіть новий стовпчик "avg"

In [45]:
def fill_avg_salary(data):
  return (data[0] + data[1]) / 2

agg_data["avg"] = agg_data.apply(fill_avg_salary, axis=1)

# Виведення результатів
print(agg_data)

                         salary           avg
                            min   max
Должность
Junior Software Engineer    100  1250   675.0
Senior Software Engineer   1300  9200  5250.0
Software Engineer           500  5400  2950.0
System Architect           3000  5000  4000.0
Technical Lead             1425  6200  3812.5

Створіть описову статистику за допомогою методу describe для нового стовпчика.

In [46]:
d = agg_data.describe()
d

            salary                       avg
               min          max
count     5.000000     5.000000     5.000000
mean   1265.000000  5410.000000  3337.500000
std    1115.739665  2848.771665  1700.091909
min     100.000000  1250.000000   675.000000
25%     500.000000  5000.000000  2950.000000
50%    1300.000000  5400.000000  3812.500000
75%    1425.000000  6200.000000  4000.000000
max    3000.000000  9200.000000  5250.000000

Збережіть отриману таблицю в CSV файл

In [47]:
d.to_csv("/content/drive/MyDrive/Data sets/description.csv", index=False)